doctype html
html
    head
        title= "Football Pong Scoreboard"
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script(src='/socket.io/socket.io.js')
        script(src='/jquery.min.js')
        script(src='/script.js')
        link(href='/style.css' rel="stylesheet" type="text/css")
    body
        #container
            .first-row
                #player1.box
                    h4.label= "Player 1"
                    .number
                        span#player-1-score.score= "0"
                    .clear
                    .number
                        span.serving.number= "SERVICE"



                #player2.box
                    h4.label= "Player 2"
                    .number
                        span#player-2-score.score= "0"
                    .clear
                    .number
                        span.serving.number= ""

            .clear