doctype html
html
    head
        title= "Football Pong Scoreboard"
        script(src='/socket.io/socket.io.js')
        script(src='/jquery.min.js')
        script(src='/script.js')
        link(href='/style.css' rel="stylesheet" type="text/css")
    body
        #container
            .first-row
                #home-score.box
                    h4.label= "Vendetta"
                    .number
                        span#home-team-score= "0"
                    .clear
                    .timeouts
                        .number
                            span#home-team-timeouts= "3"
                        .label= "TOL"
                    
                #timer.box
                    .box
                        .number= "4"
                        span= ":"
                        .number= "34"

                #away-score.box
                    h4.label= "Creepers"
                    .number
                        span#away-team-score= "0"
                    .clear
                    .timeouts
                        .number
                            span#away-team-timeouts= "3"
                        .label= "TOL"

            .clear

            .second-row
                #quarter.box
                    .number
                        span#quarter-number= "1"
                    .label= "QUARTER"

                #down.box
                    .number
                        span#down-counter= "1"
                    .label= "DOWN"

                #playclock.box
                    .number
                        span#playclock-timer= "20"
                    .label= "PLAY"

                .clear