doctype html
html
    head
        title= "Football Pong Scoreboard Ref"
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script(src='/jquery.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/ref.js')
        link(href='/ref.css' rel="stylesheet" type="text/css")
    body
      #container
        #away-score
          h4= "Away Team"
          strong= "Points: "
          button#away-field-goal= "FG"
          button#away-touchdown= "TD"
          button#away-pat= "PAT"
          
          input(id="away-team-score" type="number" value="0" style="width: 60px; margin-left: 20px;")
          button#away-reset= "reset"

          .clear
          strong= "Timeouts: "
          button#away-team-timeouts-up= "+1"
          button#away-team-timeouts-down= "-1"

        #home-score
          h4= "Home team "
          strong= "Points: "

          button#home-field-goal= "FG"
          button#home-touchdown= "TD"
          button#home-pat= "PAT"

          input(id="home-team-score" type="number" value="0" style="width: 60px; margin-left: 20px;")
          button#home-reset= "reset"

          .clear
          strong= "Timeouts: "
          button#home-team-timeouts-up= "+1"
          button#home-team-timeouts-down= "-1"

        #quarter
          h4= "Quarter"
          button#quarter-up= "+1"
          button#quarter-down= "-1"

        #down
          h4= "Down"
          button#down-up= "+1"
          button#down-down= "-1"
          button#down-reset= "reset"

        #play-clock
          h4= "Play Clock" 
          button#playclock-reset= "reset/play"

        #clock
          h4= "Game Clock"
          button#gameclock-play= "Play"
          button#gameclock-pause= "Pause"
          button#gameclock-reset= "reset"
          button#gameclock-add-min= "add 1 min"
          button#gameclock-minus-min= "minus 1 min"