doctype html
html
    head
        title= "Ping Pong Scoreboard Ref"
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script(src='/jquery.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/ref.js')
        link(href='/ref.css' rel="stylesheet" type="text/css")
    body
      h3= "Ping Pong Scoreboard Controller"

      #container
        .extras
          h4= "Reset game"
          button#reset= "Reset"

        #player-1
          h4= "Player 1 Score"
          button#player-1-score-up= "+1"
          button#player-1-score-down= "-1"

        #player-2
          h4= "Player 2 Score"
          button#player-2-score-up= "+1"
          button#player-2-score-down= "-1"

        h5="Player 1 score"
        input(id="player-1-score" type="number" value="0" style="width: 60px; margin-right: 20px;")

        h5="Player 2 score"
        input(id="player-2-score" type="number" value="0" style="width: 60px; margin-right: 20px;")

        h5="Points"
        input(id="points" type="number" value="0" style="width: 60px; margin-right: 20px;")

        h5="Service"
        input(id="service" type="number" value="1" style="width: 60px; margin-right: 20px;")